# === Python cache and environment ===
# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
*.env
.env*
*.sqlite3

# Jupyter
.ipynb_checkpoints

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs and dumps
*.log
*.tmp
*.bak

# Streamlit
.streamlit/config.toml

# DuckDB database
data/tracker.duckdb

# Data folders (you don't want Parquet, CSV, or ZIPs in Git)
data/filtered_price_data/
data/TradingIS_csvs/
data/TradingIS_zips/
data/TradingIS_zips_archive/

# Optional: any test or scratch files
scratch/
tmp/
