# === Python cache and environment ===
__pycache__/
*.py[cod]
*.so

# === IDEs and system files ===
.vscode/
.DS_Store

# === Project-specific folders ===
data/TradingIS_zips/
data/TradingIS_csvs/
data/filtered_price_data/
data/tracker.duckdb
